{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %} 

<div class="container">
    <h1>Artist Name</h1>
    <main>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/2560px-Placeholder_4-3_red.svg.png" alt="">
            </div>
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aperiam exercitationem cupiditate harum asperiores quos quia, voluptate totam inventore laudantium veniam iure vel quam natus maiores dolores! Cumque, molestias modi vel facilis rem aperiam possimus amet architecto ipsa rerum, numquam minus repellendus error nemo impedit earum aut at cum. Officia unde delectus debitis. Quisquam, enim molestiae dolorum eveniet minus eligendi, reiciendis perferendis magnam quam quis quas quo nobis ullam excepturi earum odit? Ab accusamus soluta nam reprehenderit voluptatibus libero architecto nihil impedit, veniam deleniti autem labore id sed numquam error natus ipsum iste dolores iure possimus quas dolorum, exercitationem nostrum. </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}